body {
    color: whitesmoke;
    background-color: rgb(25, 25, 25);
}

h1 {
    color: rgb(25, 25, 25);
    background-color: whitesmoke;
}

#headline {
    color: rgb(25, 25, 25);
    background-color: rgb(175, 175, 175);
}

#contact {
    color: rgb(140, 140, 140);
}

a {
    color: rgb(185, 70, 70);
}

a:visited {
    color: rgb(185, 185, 70);
}

a:hover {
    color: rgb(70, 185, 70);
    text-decoration: underline;
}